@charset 'UTF-8';


*,html{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

li, ul, ol{
    list-style: none;
    color: inherit;
}

img{
    vertical-align: top;
}


/* footer start */

footer{
    display: flex;
    width: 120rem;
    height: 10rem;
    padding: 6.25rem 0rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

footer .fl{
    display: flex;
    width: 76.25rem;
    height: 11.25rem;
    flex-direction: column;
    align-items: center;
    gap: 1.875rem;
}

footer .fl .top{
    width: 100%;
    height: 70%;
}

footer .fl .top > ul.main{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 0;
}

footer .fl .top > ul.main li{
    width: 32%;
    height: 100%;
}

footer .fl .top > ul.main li.log{
    width: 16%;
    height: 100%;
    cursor: pointer;
    margin: 0 auto;
}

footer .fl .top > ul.main li.spr{
    width: 20%;
}

footer .fl .top > ul.main li.log a> img{
    width: 9.75rem;
    height: 1.60119rem;
    margin-left: 18px;
    margin-top: 36px;
}

footer .fl .top > ul.main > li > ul.sub{
    width: 100%;
    height: 33.3333%;
    line-height: 33.3333%;
}

footer .fl .top > ul.main > li > #sub_0{
    margin-left: 4rem;
}

footer .fl .top > ul.main > li > ul.sub li{
    width: 100%;
    color: var(--neutral-30, #484649);
    font-family: NanumGothic;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.25rem; /* 142.857% */
    letter-spacing: 0.00131rem;
}

footer .fl .top > ul.main > li > ul.sub #sub_1{
    color: rgba(255, 255, 255, 0.70);
    font-family: NanumGothic;
    font-size: 1rem;
    font-style: normal;
    font-weight: 800;
    line-height: 1.25rem; /* 125% */
    letter-spacing: 0.0015rem;
}

footer .fl .top > ul.main > li > ul.sub #sub_2 span{
    margin-left: 0.8rem;
    color: rgba(255, 255, 255, 0.70);
    font-family: NanumGothic;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.25rem; /* 142.857% */
    letter-spacing: 0.00131rem;
}

footer .fl .btm{
    width: 100%;
    height: 30%;
    display: flex;
    position: relative;
}

footer .fl .btm ul.main{
    position: absolute;
    display: flex;
    color: var(--neutral-100, #FFF);
    font-family: NanumGothic;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1rem; /* 133.333% */
    letter-spacing: 0.00113rem;
    gap: 2rem;
    margin-left: 1.4rem;
    margin-top: 1rem;
    left: 0;
    float: left;
}

footer .fl .btm ul.main > li > a{
    color: #fff;
}

footer .fl .btm ul.main > #sub_1 > a {
    color: var(--primary-30, #EE054F);
    font-family: NanumGothic;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 800;
    line-height: 1rem; /* 133.333% */
    letter-spacing: 0.00113rem;
}

footer .fl .btm ul.main_1{
    position: absolute;
    display: flex;
    gap: 1.4rem;
    margin-top: 0.6rem;
    right: 0;
    float: right;
    margin-right: 1.4rem;
}

/* footer end */

:root[color-theme='light'] {
    --background: rgb(255, 255, 255);
    --boxColor: #000;
    --rending-image : url('/img/light/메인페이지.png') no-repeat center;
    --font-color : rgb(255, 255, 255);
    --logo-img : url('/img/light/logo.png') no-repeat center;
  }
  
:root[color-theme='dark'] {
    --background: rgb(0, 0, 0);
    --boxColor: #fff;
    --rending-image : url('/img/backimg/메인페이지.jpg') no-repeat center;
    --font-color : rgb(255, 255, 255);
    --logo-img : url('/img/header/logo.png') no-repeat center;
}

  
body {
    background: var(--rending-image);
    position: relative;
    width: fit-content;
    height: 4567px;
    background-size: cover;
    -ms-overflow-style: none;
}

.logo{
    float: left;
    cursor: pointer;
    transform: translate(30%, 100%);
    width: 11.8rem;
    height: 1.6875rem;
    background-image: var(--logo-img);
}


/* light mode str */

@media (prefers-color-scheme: light) {

    body[color-theme='light']{
        position: relative;
        width: fit-content;
        height: 4567px;
        background: url('/img/light/메인페이지.png') no-repeat center;
        background-size: cover;
        -ms-overflow-style: none;
/* 
        
        @media (prefers-color-scheme: dark) {
            body {
            background-color: #333;
            color: #f0f0f0;
            }
        } */
    }

    ::-webkit-scrollbar {
        display: none;
    }

    .wrap{
        position: absolute;
    }

    header{
        display: flex;
        width: 120rem;
        height: 5.625rem;
    }

    .logo{
        float: left;
        cursor: pointer;
        transform: translate(30%, 100%);
        width: 11.8rem;
        height: 1.6875rem;
        background-image: var(--logo-img);
    }


    nav{
        position: absolute;
        float: right;
        right: 0;
        width: fit-content;
        padding: 30px;
        margin-right: 30px;
    }

    ul.main{
        display: flex;
        width: fit-content;
        height: 1.6875rem;
        gap: 6rem;
    }

    ul.main li{
        color: #000000;
    }

    ul.main li h3{
        height: 30px;
        line-height: 30px;
    }

    ul.main li h3.on{
        color: #FF1E1E;
    }

    ul.main li h3 a{
        text-align: center;
        cursor: pointer;
        font-size: 0.9375rem;
        color: #000;
    }

    ul.main li h3 a:hover{
        color: #FF1E1E;
    }

    ul.nat{
        cursor: pointer;
        margin-top: 0.2rem;
        width: 3.5rem;
        height: 80%;
        border: 2px solid #fff;
        border-radius: 10px;
        text-align: center;
        font-size: 0.9375rem;
        font-weight: bold;
        background-color: #120A14;
    }

    ul.nat:hover{
        border: 2px solid #FF1E1E;
    }

    ul.nat li:hover{
        color: #FF1E1E;
    }

    ul.nat li.on{
        display: block;
    }

    ul.nat li {
        display: none;
        color: #fff;
    }

    .spare{
        /* background-color: #FF1E1E; */
        width: 120rem;
        height: 12.3125rem;
    }

    .contents{
        margin: 0 auto;
        width: 112rem;
        height: 19rem;
        cursor: pointer;
    }

    .fir{
        width: 7.125rem;
        color: #000000;
        font-family: 'Montserrat';
        font-size: 0.9375rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .sec{
        margin-top: 0.8rem;
        color: #000000;
        font-family: 'Audiowide';
        font-size: 6.25rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .thi{
        width: fit-content;
        padding: 10px;
        border-radius: 1rem;
        margin-top: 0.8rem;
        color: #FFF;
        background-color: #0000002f;
        font-family: 'Montserrat';
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 130%; /* 1.3rem */
    }

    .spare_2{
        width: 120rem;
        height: 8.6rem;
    }

    .info{
        /*border: 1px solid rebeccapurple;*/
        border-top: solid 0.6px rgb(255, 255, 255);
        width: 112rem;
        height: 20rem;
        margin: 0 auto;
        background-color: rgba(0,0,0,0.4);
    }

    ul.con{
        font-family: 'Montserrat';
        margin: 3.4rem auto;
        gap: 18rem;
        display: flex;
        width: fit-content;
        height: 1.6875rem;
        gap: 20rem;
    }

    ul.con li{
        font-family: 'Montserrat';
        font-size: bold;
        text-align: center;
        color: #fff;
    }

    ul.con li h3{
        font-size: 0.8rem;
        height: 30px;
        line-height: 30px;
    }

    ul.con li p{
        font-size: 1.6rem;
        font-size: bold;
    }

    ul.con li p.m1{
        font-size: 1.4rem;
    }

    .container{
        width: 50%;
        height: 3320px;
        margin: 0 auto;
    }

    .container .l_top{
        display: flex;
        flex-direction: row;
    }

    .container .l_top > .im{
        width: 1.875rem;
        height: 2.625rem;
        background: url('/img/light/ICON.png') no-repeat center;
    }

    .container .l_cen{
        display: flex;
        width: 100%;
        height: 100%;
    }

    .container .l_cen .im{
        margin-top: 4.12rem;
        width: 18.99425rem;
        height: 31.11525rem;
        transform: rotate(-4.76deg);
        flex-shrink: 0;
        background-image: url('/img/light/crd1.png');
        background-size: 18.99425rem 31.11525rem;
    }

    .container .l_cen .t .extra{
        width: 32rem;
        height: 32rem;
        transform: rotate(6.284deg);
        flex-shrink: 0;
        position: absolute;
        bottom: 0;
        right: 0;
        margin-left: 10rem;
        background: url('/img/light/tran_1.png') no-repeat center;
        background-size: 24rem 24rem;
    }

    .container .l_cen .t{
        position: relative;
        display: flex;
        width: 100%;
        height: 93%;
    }

    .container .l_cen .t p{
        width: 100%;
        height: fit-content;
        padding: 0 2rem;
        font-family: Montserrat;
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 4.12rem;
        border-left: 1px solid #000000cb;
        margin-left: 2rem;
    }

    .container .fir{
        width: 100%;
        height: 24%;
    }

    .container .fir .l_top > .im{
        width: 1.875rem;
        height: 2.625rem;
        background: url('/img/light/ICON.png') no-repeat center;
    }

    .container .fir p{
        margin-left: 1rem;
        width: 22.25rem;
        font-family: Audiowide;
        font-size: 1.375rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: #000;
    }

    .container .fir .l_cen .im1{
        margin-top: 4.12rem;
        width: 19.78788rem;
        height: 32.349rem;
        transform: rotate(-3.605deg);
        flex-shrink: 0;
        background: url('/img/light/crd3.png') no-repeat center;
        background-size: 19.78788rem 32.349rem;
    }

    .container .t{
        display: flex;
        flex-direction: column;
    }

    .container .t > .extra2{
        width: 30rem;
        height: 30rem;
        margin-left: 12rem;
        margin-top: 4.4rem;
        background: url('/img/light/tran_3.png') no-repeat center;
        background-size: 22rem 22rem;
    }

    .container .sec{
        display: flex;
        width: 100%;
        height: 25%;
    }

    .container .r_top{
        display: flex;
        flex-direction: column;
    }

    .container .r_cen{
        display: flex;
        width: 100%;
        height: 100%;
    }

    .container .r_cen > img{
        margin-top: 4.12rem;
        width: 18.99425rem;
        height: 31.11525rem;
        transform: rotate(-4.76deg);
        flex-shrink: 0;
    }

    .container .r_cen .extra1{
        width: 26rem;
        height: 28rem;
        margin-top: 2.8rem;
        transform: rotate(6.284deg);
        flex-shrink: 0;
        bottom: 0;
        right: 0;
        background: url('/img/light/tran_2.png') no-repeat center;
        background-size: 22rem;
    }

    .container .r_cen .t{
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 93%;
    }

    .rq{
        display: flex;
        flex-direction: row;
    }
    

    .container .r_cen .t p{
        width: 100%;
        height: fit-content;
        padding: 0 2rem;
        font-family: Montserrat;
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 7.12rem;
        border-left: 1px solid #000000cb;
    }

    .container .sec{
        width: 100%;
        height: 25%;
    }

    .container .sec .r_top .rq .im{
        width: 1.875rem;
        height: 2.625rem;
        background: url('/img/light/ICON.png') no-repeat center;
    }


    .container .sec .r_top >img{
        margin: 0 auto;
        margin-top: 4.12rem;
        width: 18.875rem;
        height: 30.875rem;
        transform: rotate(5.428deg);
        flex-shrink: 0;
    }

    .container .sec .r_top .im1{
        margin-top: 4.12rem;
        width: 19.78788rem;
        height: 32.349rem;
        transform: rotate(5.382deg);
        flex-shrink: 0;
        background: url('/img/light/crd2.png') no-repeat center;
        background-size: 19.78788rem 32.349rem;
    }


    .container .sec p{
        margin-left: 1rem;
        margin-top: 0.6rem;
        width: 22.25rem;
        font-family: Audiowide;
        font-size: 1.375rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: #000;
    }

    .extra1{
        width: 15.95531rem;
        height: 14.78325rem;
        transform: rotate(17.109deg);
        flex-shrink: 0;
    }

    .container .thr{
        width: 100%;
        height: 25%;
    }

    .container .thr .f{
        width: 100%;
        height: 20%;
    }

    .container .thr .f .manpower{
        background: url('/img/light/manpower.png') no-repeat center;
        background-size: 23.1875rem 5.375rem;
        width: 23.1875rem;
        height: 6rem;
        margin: 0 auto;
    }

    .container .thr .s{
        width: 100%;
        height: 40%;

    }

    .container .thr .t{
        width: 100%;
        height: 40%;

    }

    .container .thr .s ul.main li img{
        width: 20rem;
        height: 20rem;
        flex-shrink: 0;
    }

    .container .thr .s ul.main li ul.sub h3{
        font-family: Audiowide;
        font-size: 1.375rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: #000;
    }

    .container .thr .s ul.main li ul.sub .lin{
        width: 24.6875rem;
        height: 0.0625rem;
        border-top: 0.4px solid #ffffffc9;
        margin: 0.8rem auto;
    }

    .container .thr .s ul.main li ul.sub p.w{
        margin: 0.8rem auto;
        font-family: Audiowide;
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: #000;
    }

    .container .thr .s ul.main li ul.sub{
        margin-top: 2.8rem;
    }

    .container .thr .s ul.main li .im1{
        width: 20rem;
        height: 20rem;
        background: url('/img/light/ra1.png');
        background-size: 20rem 20rem;
    }

    .container .thr .s ul.main li ul.sub p.w1{
        margin: 0.8rem auto;
        color: #FFF;
        font-family: Audiowide;
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .container .thr .s ul.main li ul.sub .w2{
        display: flex;
    }

    ul.main li ul.sub .w2 > .cir1{
        background: url('/img/light/Ellipse7.svg') no-repeat center;
        background-size: 0.275rem 0.275rem;
        width: 0.875rem;
        height: 0.875rem;
        margin-top: 5px;
    }

    .cir{
        width: 0.875rem;
        height: 0.875rem;
        background: #000;
        color: #000;
    }

    p.co{
        font-family: Montserrat;
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: #000;
        margin-left: 0.4rem;
    }
    .container .thr .t{
        position: relative;
    }

    .container .thr .t ul.main{
        position: absolute;
        right: 10%;

    }

    .container .thr .t ul.main li .im2{
        width: 20rem;
        height: 20rem;
        background: url('/img/light/ra2.png') no-repeat center;
        background-size: 20rem 20rem;
    }

    .container .thr .t ul.main li ul.sub h3{
        font-family: Audiowide;
        font-size: 1.375rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: #000;
    }

    .container .thr .t ul.main li ul.sub .lin{
        width: 24.6875rem;
        height: 0.0625rem;
        border-top: 0.4px solid #ffffffc9;
        margin: 0.8rem auto;
    }

    .container .thr .t ul.main li ul.sub p.w{
        margin: 0.8rem auto;
        font-family: Audiowide;
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: #000;
    }

    .container .thr .t ul.main li ul.sub{
        margin-top: 2.8rem;
    }

    .container .thr .t ul.main li ul.sub p.w1{
        margin: 0.8rem auto;
        color: #FFF;
        font-family: Audiowide;
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .container .thr .t ul.main li ul.sub .w2{
        display: flex;
    }

    .container .thr .t ul.main li ul.sub .w2 >img{
        width: 0.875rem;
        height: 0.875rem;
        margin-top: 5px;
    }

    /* Mouse */
    .ball {
        pointer-events: none;
        position: absolute; 
        width: 10px;
        height: 10px;
        border-radius: 50%; 
        background: gray;
        animation: implode 1s ease-in-out;
        animation-fill-mode: both;
        opacity: .5;
    }
    
    @keyframes implode {
        100% {transform: scale(0)}
    }
}

/* light mode end */

@media (prefers-color-scheme: dark) {
    .logo{
        float: left;
        cursor: pointer;
        transform: translate(30%, 100%);
        width: 11.8rem;
        height: 1.6875rem;
        background-image: url('/img/header/logo.png');
    }


    .container .l_top > .im{
        width: 1.875rem;
        height: 2.625rem;
        background: url('/img/light/ICON.png') no-repeat center;
    }


    .container .l_cen .im{
        margin-top: 4.12rem;
        width: 18.99425rem;
        height: 31.11525rem;
        transform: rotate(-4.76deg);
        flex-shrink: 0;
        background-image: url('/img/light/crd1.png');
        background-size: 18.99425rem 31.11525rem;
    }

    .container .l_cen .t .extra{
        width: 32rem;
        height: 32rem;
        transform: rotate(6.284deg);
        flex-shrink: 0;
        position: absolute;
        bottom: 0;
        right: 0;
        margin-left: 10rem;
        background: url('/img/light/tran_1.png') no-repeat center;
        background-size: 24rem 24rem;
    }

    .container .fir .l_top > .im{
        width: 1.875rem;
        height: 2.625rem;
        background: url('/img/light/ICON.png') no-repeat center;
    }


    .container .fir .l_cen .im1{
        margin-top: 4.12rem;
        width: 19.78788rem;
        height: 32.349rem;
        transform: rotate(-3.605deg);
        flex-shrink: 0;
        background: url('/img/light/crd3.png') no-repeat center;
        background-size: 19.78788rem 32.349rem;
    }


    .container .t > .extra2{
        width: 30rem;
        height: 30rem;
        margin-left: 12rem;
        margin-top: 4.4rem;
        background: url('/img/light/tran_3.png') no-repeat center;
        background-size: 22rem 22rem;
    }

    .container .r_cen .extra1{
        width: 26rem;
        height: 28rem;
        margin-top: 2.8rem;
        transform: rotate(6.284deg);
        flex-shrink: 0;
        bottom: 0;
        right: 0;
        background: url('/img/light/tran_2.png') no-repeat center;
        background-size: 22rem;
    }

    .container .sec .r_top .rq .im{
        width: 1.875rem;
        height: 2.625rem;
        background: url('/img/light/ICON.png') no-repeat center;
    }


    .container .sec .r_top .im1{
        margin-top: 4.12rem;
        width: 19.78788rem;
        height: 32.349rem;
        transform: rotate(5.382deg);
        flex-shrink: 0;
        background: url('/img/light/crd2.png') no-repeat center;
        background-size: 19.78788rem 32.349rem;
    }


    .container .thr .f .manpower{
        background: url('/img/light/manpower.png') no-repeat center;
        background-size: 23.1875rem 5.375rem;
        width: 23.1875rem;
        height: 6rem;
        margin: 0 auto;
    }


    .container .thr .s ul.main li .im1{
        width: 20rem;
        height: 20rem;
        background: url('/img/light/ra1.png');
        background-size: 20rem 20rem;
    }


    ul.main li ul.sub .w2 > .cir1{
        background: url('/img/light/Ellipse7.svg') no-repeat center;
        background-size: 0.275rem 0.275rem;
        width: 0.875rem;
        height: 0.875rem;
        margin-top: 5px;
    }

    .container .thr .t ul.main li .im2{
        width: 20rem;
        height: 20rem;
        background: url('/img/light/ra2.png') no-repeat center;
        background-size: 20rem 20rem;
    }
}


/* body[color-theme='light'] {
    background : red !important;
}

body[color-theme='dark'] {
    background : blue !important;
} */